* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  width: 330px;
  background: black;
}

/* Animations. */
@keyframes popUp {
  from {
    transform: scale(.45);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: .7; }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showSnackbar {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* Player of the current playing video. */
.video-player {
  position: relative;
  height: 180px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
}

.video-player .title {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
  animation-duration: .35s;
  animation-name: slideUp;
  z-index: 200;
}

.video-player .title p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  width: 210px;
  text-align: center;
  margin: auto;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 1));
}

.action {
  position: relative;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33.33333%;
}

.action svg {
  height: 30px;
  width: 30px;
  fill: #fff;
  opacity: .7;
  transition: opacity .15s ease-in-out 0s;
}

.action svg:active {
  transform: scale(.95);
}

.action svg:hover {
  opacity: 1;
}

.action.main-action svg {
  height: 60px;
  width: 60px;
  opacity: 1;
  animation-duration: .4s;
  animation-name: popUp;
}

.action.left svg {
  position: relative;
  right: -30px;
}

.action.right svg {
  position: relative;
  left: -30px;
}

.left svg, .right svg {
  animation-duration: .45s;
  animation-name: fade;
}

/* Main action button. */
.playing .play, .stop {
  display: none;
}

.playing .stop {
  display: block;
}

/* Pending videos section. */
.pending-videos {
  width: 100%;
  height: auto;
  padding-top: 5px;
  border-radius: 12px 12px 0 0;
  background-color: #fff;
}

/* Let some spacing if has a suggestion. */
body.suggestion .pending-videos {
  padding-bottom: 70px;
}

/* Title of the pending videos section. */
.pending-videos-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  padding: 10px 14px;
}

.pending-videos-title p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  font-size: 16px;
  font-weight: bold;
}

.pending-videos-title button {
  position: relative;
  border: none;
  background: transparent;
  outline: none;
  width: 26px;
  height: 26px;
}

.pending-videos-title button svg {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 30;
}

.pending-videos-title button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ececec;
  transform: scale(.9);
  opacity: 0;
  z-index: 1;
  transition: all .18s ease-in .1s;
}

.pending-videos-title button:active::before {
  transform: scale(1.4);
  opacity: 1;
}

/* List of the pending videos. */
.pending-videos-list {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
  width: 100%;
}

/* A pending video. */
.pending-video {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.pending-video::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: -5px;
  width: 80%;
  height: 1px;
  background: #ececec;
}

.pending-video:last-child::after {
  display: none;
}

.video-thumbnail {
  position: relative;
  width: 90px;
  height: 50px;
  overflow: hidden;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.video-metadata {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  padding: 0 10px;
}

.video-metadata .video-title {
  font-weight: bold;
  font-size: 13px;
  margin-top: 2px;
  width: 196px;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.video-metadata .video-duration {
  opacity: .6;
  font-size: 11px;
  margin-top: 5px;
}

/* Add to playlist section. */
.add-to-playlist {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #fff);
  padding: 10px 0;
  animation-duration: .5s;
  animation-name: showSnackbar;
}

.add-current-video {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 0 10px;
  padding: 5px 3px;
  background-color: rgb(240, 240, 240);
  border: 1px solid #ececec;
}

.add-current-video:active {
  transform: scale(.98);
}

.add-current-video .video-thumbnail {
  box-shadow: none;
}

.add-current-video p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-weight: bold;
  margin-left: 12px;
  font-size: 14px;
}

/* Share video when no video is playing. */
.share-only .share-video {
  display: block;
}

.share-only .video-player,
.share-only .pending-videos,
.share-only .add-to-playlist {
  display: none;
}

.share-video {
  position: relative;
  height: 180px;
  width: 100%;
  display: none;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
}

.share-video .share {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}

.share-video .share > svg {
  fill: #fff;
  height: 45px;
  width: 45px;
  animation-duration: .4s;
  animation-name: popUp;
}

.share-video .share > svg:active {
  transform: scale(.95);
}

.share-video .share > p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  color: #fff;
  animation-duration: .35s;
  animation-name: slideUp;
}

/* Server not found. */
.server-not-found {
  display: none;
  flex-flow: column wrap;
  align-items: center;
  padding: 50px 0;
  background-color: #fff;
}

.server-not-found svg {
  fill: #000;
  height: 30px;
  width: 30px;
}

.server-not-found p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-weight: bold;
  font-size: 14px;
  margin-top: 8px;
}

.error-only .video-player,
.error-only .pending-videos,
.error-only .add-to-playlist {
  display: none;
}

.error-only .server-not-found {
  display: flex;
}

/* Utility class. */
.hide {
  display: none;
}
